.pages {
    background-color: #fff;
    padding: 100px 0px;
}

.pages-link {
    text-align: center !important;
    font-size: 18px !important;
    color: #838383;
    background-color: #ecf1fa;
    margin: 10px;
    padding: 10px 0;
}

.pages-link a {
    text-align: center !important;
    font-size: 18px !important;
}
