<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%= @header %>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="page-left">
          <div class="page-left">
             <p><img src="/img/mars.jpg" alt="Mars landscape"></p>
             <p>Mars landscape</p>
          </div>
        </div>
        <div class="page-right">
          <ul>
          <% for @item in @list_of_posts %>
            <li><%= @item %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </main>
    <%= @footer %>
  </body>
</html>

