<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="keywords" content="HTML, CSS, JavaScript">
      <meta name="description"
         content="A clean and responsive blog template for developers. Using only HTML, CSS, and JavaScript">
      <meta name="author" content="Pierre BAZONNARD">
      <title>Pyer's blog</title>
      <link rel="stylesheet" href="./css/main.css" />
      <link rel="stylesheet" href="./css/home.css" />
      <link rel="stylesheet" href="./css/blog.css" />
      <link rel="stylesheet" href="./css/contact.css" />
      <link rel="stylesheet" href="./css/about.css" />
   </head>
   <body>
      <header>
         <div class="container">
            <div class="row">
               <div class="brand-name">
                  <a href="/">Pyer</a>
               </div>
               <div class="hamburger">
                  <img src="./img/menu.png" alt="menu"/>
               </div>
               <div class="navbar">
                  <ul>
                     <li class="en"><a href="#home" class="active">Home</a></li>
                     <li class="fr"><a href="#home" class="active">Accueil</a></li>
                     <li><a href="#blog">Blog</a></li>
                     <li><a href="#pages">Pages</a></li>
                     <li><a href="#contact">Contact</a></li>
                     <li class="en"><a href="#about">About</a></li>
                     <li class="fr"><a href="#about">A propos</a></li>
                     <li>
                        <select name="lang" id="lang">
                           <option value="en_US">English</option>
                           <option value="fr_FR" selected>Français</option>
                        </select>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </header>
      <section class="home" id="home">
         <div class="container">
            <div class="row full-screen">
               <div class="home-content">
                  <div class="block en">
                     <h6>Hi, my name is</h6>
                     <h1>Pierre BAZONNARD</h1>
                     <h6>Welcome on my web site.</h6>
                  </div>
                  <div class="block fr">
                     <h6>Bonjour, mon nom est</h6>
                     <h1>Pierre BAZONNARD</h1>
                     <h6>Bienvenue sur mon site.</h6>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="blog" id="blog">
         <div class="container">
               <div class="title text-center">
                  <h1>Blog</h1>
               </div>
               <% for @item in @list_of_posts %>
                     <div class="blog-link">
                        <a class="page-link" href=<%= @item %></a>
                     </div>
               <% end %>
         </div>
      </section>
      <section class="pages" id="pages">
         <div class="container">
               <div class="title text-center">
                  <h1>Pages</h1>
               </div>
               <% for @item in @list_of_pages %>
                     <div class="pages-link">
                        <a class="page-link" href=<%= @item %></a>
                     </div>
               <% end %>
         </div>
      </section>
      <section class="contact" id="contact">
         <div class="container">
            <div class="row">
               <div class="title text-center">
                  <h1>Contact</h1>
               </div>
            </div>
            <div class="row">
               <!-- form class="contact-form" action="/contact" method="post" enctype="text/plain" autocomplete="on" -->
               <form class="contact-form en" action="/contact">
                  <div class="row">
                     <div class="contact-text">
                        <h2>Drop me a message.</h2>
                        <p>My inbox is always open. I'll try my best to get back to you !</p>
                     </div>
                  </div>
                  <div class="row space-between">
                     <div class="contact-input">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your name" autocomplete="on"/>
                     </div>
                     <div class="contact-input">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Your email address" autocomplete="on"/>
                     </div>
                  </div>
                  <div class="row">
                     <div class="contact-message">
                        <textarea class="form-control" id="message" name="message" placeholder="Your message"></textarea>
                     </div>
                  </div>
                  <div class="row">
                     <div class="button">
                        <input type="submit" value="Send">
                     </div>
                  </div>
               </form>
               <form class="contact-form fr" action="/contact" autocomplete="on">
                  <div class="row">
                     <div class="contact-text">
                        <h2>Envoyez-moi un message.</h2>
                        <p>Je ferai de mon mieux pour vous répondre rapidement !</p>
                     </div>
                  </div>
                  <div class="row space-between">
                     <div class="contact-input">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Votre nom" autocomplete="on"/>
                     </div>
                     <div class="contact-input">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Votre adresse e-mail" autocomplete="on"/>
                     </div>
                  </div>
                  <div class="row">
                     <div class="contact-message">
                        <textarea class="form-control" id="message" name="message" placeholder="Votre message"></textarea>
                     </div>
                  </div>
                  <div class="row">
                     <div class="button">
                        <input type="submit" value="Envoyer">
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </section>
      <section class="about" id="about">
         <div class="container">
               <div class="title text-center en">
                  <h1>About</h1>
               </div>
               <div class="title text-center fr">
                  <h1>A propos</h1>
               </div>
               <div>
                  <div class="row">
                     <div>
                        <img src="./img/pyer.png" height="105" width="105"/>
                     </div>
                     <div class="about-dev en ">
                        <h4>Pierre Bazonnard</h4>
                        <p>A developer and Linux system administrator living in Gagny, France.</p>
                        <a href="https://github.com/pyer/EasyBlog">Pierre developed this site.</a>
                     </div>
                     <div class="about-dev fr">
                        <h4>Pierre Bazonnard</h4>
                        <p>Développeur et administrateur système Linux à Gagny, France.</p>
                        <a href="https://github.com/pyer/EasyBlog">Pierre a développé ce site.</a>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="row">
                     <div>
                        <img src="./img/thepuskar.jpeg" height="105" width="105"/>
                     </div>
                     <div class="about-dev en">
                        <h4>Puskar Adhikari</h4>
                        <p>A Web developer and front-end engineer living in Kathmandu, Nepal.</p>
                        <a href="https://github.com/thepuskar/Personal-Portfolio-v1">Puskar designed the template.</a>
                     </div>
                     <div class="about-dev fr">
                        <h4>Puskar Adhikari</h4>
                        <p>Développeur Web et ingénieur 'front-end' à Kathmandu, Nepal.</p>
                        <a href="https://github.com/thepuskar/Personal-Portfolio-v1">Puskar a conçu le graphisme de ce site.</a>
                     </div>
                  </div>
               </div>
         </div>
      </section>
      <footer>
         <div class="container">
               <p><%= @copyright %></p>
         </div>
      </footer>
      <script src="./js/app.js"></script>
   </body>
</html>

